docker-compose
pandas
sqlalchemy
jupyter
altair
vega
jupyterlab
psycopg2-binary
pgcli
rtree
geopandas
selenium
livereload
vega-datasets
apsw
folium
jupyter_kernel_gateway
sklearn
sklearn-pandas
matplotlib
seaborn
